<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Resume</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
    <h1 class="text-center">Resume List</h1>
    <div class="col-md-8 col-md-offset-4">
        <a href="/add" class="pull-right">Add a Resume</a><br/>
        <table class="table">

            <thead>
            <tr>
                <th>Resume</th>

            </tr>

            </thead>
            <tbody>

            <div th:if="${search}!=null" th:inline="text">You searched for [[${search}]]</div>

            <tr th:each="resume :${resumes}">
                <td th:text ="${resume.name}">Some test text here</td>
                <td th:text ="${resume.email}">Some test text here</td>
                <td th:text ="${resume.experience}">Some test text here</td>
                <td th:text ="${resume.skill}">Some test text here</td>




                <td>
                    <a th:href ="@{/update/{id}(id=${resume.id})}">Update</a>-
                    <a th:href ="@{/detail/{id}(id=${resume.id})}">Details</a>-
                    <a th:href ="@{/delete/{id}(id=${resume.id})}">Delete</a>
                </td>


</tr>
            </tbody>
        </table>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>
</body>
</html>